In [1]:
import pandas as pd

In [11]:
#Reading all files
df = pd.read_csv('Oil Factors.csv')
facts_pred = pd.read_csv('predOilFactors.csv', index_col = 0)
oil_cons_pred = pd.read_csv('oilConsumtionPredicted.csv')
oil_prod_pred = pd.read_csv('oilProductionPredicted.csv')

In [12]:
facts_pred.tail(2)

,0,1,2,3,0.1,1.1,2.1,0.2,1.2,2.2,0.3,1.3,2.3,0.4,1.4,2.4
8,219832.493062,133295.629047,50379.185939,98692.645698,1.009040,51.563871,104.637042,2554.183395,7069.462340,587047.649838,1.009040,77.389755,125.318384,112.784544,126.567257,110.820800
9,224952.925532,135225.797872,50894.680851,100560.106383,0.979335,52.157606,107.143237,2610.699468,7127.395851,598202.411968,0.979335,79.241066,128.004410,116.004973,130.214947,113.961968

In [4]:
df.tail(2)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Degree of urbanisation,Unnamed: 4,Unnamed: 5,Unnamed: 6,Socio-economic factors (local),Unnamed: 8,Unnamed: 9,Energy use,Unnamed: 11,Unnamed: 12,Global trends,Unnamed: 14,Unnamed: 15,Trilemma index (national,Unnamed: 17,Unnamed: 18
46,2018,203,503973,248600,136200,54200,105500,1.25,51.57,118.1,3681,-1,552238.9,1.11,86.268,121.185,113.15,130.98,102.23
47,2019,181,523677,260000,134700,55800,108800,1.22,52.2,119.7,3681,-1,551401.6,1.07,87.568,109.1201,115.69,151.65,99.43

In [5]:
oil_cons_pred.tail(2)

   Unnamed: 0              0
8           8  455908.726102
9           9  465587.587458

In [6]:
oil_prod_pred.tail(2)

   Unnamed: 0          0
8           8  55.702347
9           9  19.988689

In [14]:
#creating a list of years to predict factors
pred_years = []
for i in range(2020, 2030):
    pred_years.append(i)
pred_years = pd.DataFrame(pred_years)
pred_years.tail(2)

      0
8  2028
9  2029

In [ ]:
#Merging the 5 categories findings

preds = pd.concat([pred_years, oil_prod_pred, oil_cons_pred,
                    facts_pred], axis = 1)
preds