In [62]:
'''import pandas as pd
from google.colab import drive
'''

'import pandas as pd\nfrom google.colab import drive\n'

In [63]:
'''drive.mount('/content/drive')'''

"drive.mount('/content/drive')"

In [64]:
'''path = "/content/drive/MyDrive/Colab Notebooks/Research Energy Consumption Production/Factors.csv"
df = pd.read_csv(path, header=1)
df
'''

'path = "/content/drive/MyDrive/Colab Notebooks/Research Energy Consumption Production/Factors.csv"\ndf = pd.read_csv(path, header=1)\ndf\n'

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('Gas Factors.csv', header = 1)
df

FileNotFoundError: [Errno 2] No such file or directory: 'Gas Factors.csv'

In [86]:
years = df['Years']
df = df.drop(columns = ['Years'])
df.columns

Index(['Production (TJ)', 'Consumption (TJ)', 'Transportation (TJ)',
       'Industry  (TJ)', 'Residential (TJ)', 'Commercial (TJ)',
       'Population growth (%)', 'Population density (%)', 'GDP (billion USD)',
       'Installed capacity of renewable energies (MW)', 'Reserves (TJ)',
       'Oil & products Imports (TJ)', 'Population growth (%).1',
       'GDP (Trillion USD)', 'Oil prices ($/MW)', 'Energy Security (%)',
       'Energy Equity (%)', 'Environmental Sustainability (%)'],
      dtype='object')

prev_Years = np.array(prev_Years).reshape(-1, 1)
prev_Years.shape

In [68]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor

In [104]:
years = np.array(years).reshape(-1, 1)

In [106]:
#Splitting Training and Testing Data
X_train = years[:-10]
X_test = years[-10:]
y_train = df[:-10]
y_test = df[-10:]
#X_train

**Linear Regression - All Factors**

In [71]:
Linear_model = LinearRegression()
Linear_model.fit(X_train, y_train)

LinearRegression()

In [72]:
predicted_Linear = Linear_model.predict(X_test)

In [73]:
predicted_Linear = pd.DataFrame(predicted_Linear)
predicted_Linear

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,266.504505,328227.833333,152259.909910,111250.450450,42430.630631,76710.360360,0.950766,47.091351,70.970878,1630.387387,12009.948649,465089.360811,1.173243,53.317793,82.760091,84.406126,85.799550,86.803198
1,249.663348,335510.636795,156253.247985,112910.431484,42784.305358,78279.326695,0.908587,47.696444,72.906606,1666.552869,12296.893656,474930.028165,1.152105,54.780943,84.612156,87.519109,88.961446,90.002328
2,232.822191,342793.440256,160246.586060,114570.412518,43137.980085,79848.293030,0.866408,48.301536,74.842334,1702.718350,12583.838663,484770.695519,1.130967,56.244092,86.464221,90.632091,92.123343,93.201458
3,215.981034,350076.243717,164239.924135,116230.393551,43491.654813,81417.259365,0.824229,48.906629,76.778061,1738.883831,12870.783670,494611.362873,1.109829,57.707242,88.316286,93.745073,95.285239,96.400588
4,199.139877,357359.047179,168233.262210,117890.374585,43845.329540,82986.225699,0.782051,49.511721,78.713789,1775.049312,13157.728677,504452.030228,1.088691,59.170392,90.168351,96.858056,98.447136,99.599718
5,182.298720,364641.850640,172226.600284,119550.355619,44199.004267,84555.192034,0.739872,50.116814,80.649516,1811.214794,13444.673684,514292.697582,1.067553,60.633542,92.020416,99.971038,101.609033,102.798848
6,165.457563,371924.654101,176219.938359,121210.336652,44552.678995,86124.158369,0.697693,50.721906,82.585244,1847.380275,13731.618691,524133.364936,1.046415,62.096692,93.872481,103.084021,104.770929,105.997978
7,148.616406,379207.457563,180213.276434,122870.317686,44906.353722,87693.124704,0.655514,51.326999,84.520972,1883.545756,14018.563698,533974.032290,1.025277,63.559842,95.724547,106.197003,107.932826,109.197108
8,131.775249,386490.261024,184206.614509,124530.298720,45260.028450,89262.091038,0.613336,51.932091,86.456699,1919.711238,14305.508706,543814.699644,1.004139,65.022991,97.576612,109.309986,111.094723,112.396238
9,114.934092,393773.064486,188199.952584,126190.279753,45613.703177,90831.057373,0.571157,52.537183,88.392427,1955.876719,14592.453713,553655.366999,0.983001,66.486141,99.428677,112.422968,114.256619,115.595367

In [87]:
df.columns

Index(['Production (TJ)', 'Consumption (TJ)', 'Transportation (TJ)',
       'Industry  (TJ)', 'Residential (TJ)', 'Commercial (TJ)',
       'Population growth (%)', 'Population density (%)', 'GDP (billion USD)',
       'Installed capacity of renewable energies (MW)', 'Reserves (TJ)',
       'Oil & products Imports (TJ)', 'Population growth (%).1',
       'GDP (Trillion USD)', 'Oil prices ($/MW)', 'Energy Security (%)',
       'Energy Equity (%)', 'Environmental Sustainability (%)'],
      dtype='object')

**Linear Regression - Predicting by Categories of Factors**

In [96]:
#creating a list of years to predict factors
pred_years = []
for i in range(2020, 2030):
    pred_years.append(i)

pred_years = np.array(pred_years).reshape(-1, 1)
pred_years

array([[2020],
       [2021],
       [2022],
       [2023],
       [2024],
       [2025],
       [2026],
       [2027],
       [2028],
       [2029]])

In [108]:
#Category 1
tr = df['Transportation (TJ)']
ind = df['Industry  (TJ)']
res = df['Residential (TJ)']
com = df['Commercial (TJ)']
cat1 = pd.concat([tr, ind, res, com], axis = 1)
#cat1

cat1_Linear_model = LinearRegression()
cat1_Linear_model.fit(years, cat1)
cat1_predicted_Linear = cat1_Linear_model.predict(X_test)
cat1_predicted_Linear = pd.DataFrame(cat1_predicted_Linear)
cat1_predicted_Linear

               0              1             2              3
0  178869.033302  117854.278446  46255.226642   83752.960222
1  183989.465772  119784.447271  46770.721554   85620.420907
2  189109.898242  121714.616096  47286.216466   87487.881591
3  194230.330712  123644.784921  47801.711378   89355.342276
4  199350.763182  125574.953747  48317.206290   91222.802960
5  204471.195652  127505.122572  48832.701203   93090.263645
6  209591.628122  129435.291397  49348.196115   94957.724329
7  214712.060592  131365.460222  49863.691027   96825.185014
8  219832.493062  133295.629047  50379.185939   98692.645698
9  224952.925532  135225.797872  50894.680851  100560.106383

In [109]:
#Category 2
pop_growth= df['Population growth (%)']
pop_density = df['Population density (%)']
gdp_billions = df['GDP (billion USD)']
cat2 = pd.concat([pop_growth, pop_density, gdp_billions], axis = 1)
#cat2

cat2_Linear_model = LinearRegression()
cat2_Linear_model.fit(years, cat2)
cat2_predicted_Linear = cat2_Linear_model.predict(X_test)
cat2_predicted_Linear = pd.DataFrame(cat2_predicted_Linear)
cat2_predicted_Linear

          0          1           2
0  1.246681  46.813992   84.587487
1  1.216976  47.407727   87.093682
2  1.187271  48.001462   89.599876
3  1.157566  48.595197   92.106070
4  1.127861  49.188932   94.612265
5  1.098156  49.782667   97.118459
6  1.068451  50.376401   99.624654
7  1.038745  50.970136  102.130848
8  1.009040  51.563871  104.637042
9  0.979335  52.157606  107.143237

In [110]:
#Category 3
installed_cap_re= df['Installed capacity of renewable energies (MW)']
reserves = df['Reserves (TJ)']
oil_prod_import = df['Imports (TJ)']
cat3 = pd.concat([installed_cap_re, reserves, oil_prod_import], axis = 1)
cat3
cat3_Linear_model = LinearRegression()
cat3_Linear_model.fit(years, cat3)
cat3_predicted_Linear = cat3_Linear_model.predict(X_test)
cat3_predicted_Linear = pd.DataFrame(cat3_predicted_Linear)
cat3_predicted_Linear

             0            1              2
0  2102.054810  6605.994255  497809.552798
1  2158.570883  6663.927766  508964.314928
2  2215.086957  6721.861277  520119.077058
3  2271.603030  6779.794787  531273.839188
4  2328.119103  6837.728298  542428.601318
5  2384.635176  6895.661809  553583.363448
6  2441.151249  6953.595319  564738.125578
7  2497.667322  7011.528830  575892.887708
8  2554.183395  7069.462340  587047.649838
9  2610.699468  7127.395851  598202.411968

In [111]:
#Category 4
#Population growth (%).1	GDP (Trillion USD)	Oil prices ($/MW)
pop_growth_world= df['Population growth (%)']
gdp_trillion = df['GDP (Trillion USD)']
oil_prices = df['Natural Gas prices ($/MW)']
cat4 = pd.concat([pop_growth_world, gdp_trillion, oil_prices], axis = 1)
cat4
cat4_Linear_model = LinearRegression()
cat4_Linear_model.fit(years, cat4)
cat4_predicted_Linear = cat4_Linear_model.predict(X_test)
cat4_predicted_Linear = pd.DataFrame(cat4_predicted_Linear)
cat4_predicted_Linear

          0          1           2
0  1.246681  62.579260  103.830175
1  1.216976  64.430572  106.516201
2  1.187271  66.281883  109.202227
3  1.157566  68.133195  111.888253
4  1.127861  69.984507  114.574280
5  1.098156  71.835819  117.260306
6  1.068451  73.687131  119.946332
7  1.038745  75.538443  122.632358
8  1.009040  77.389755  125.318384
9  0.979335  79.241066  128.004410

In [112]:
#Category 5
#Energy Security (%)	Energy Equity (%)	Environmental Sustainability (%)
Enery_sec= df['Energy Security (%)']
Energy_equity = df['Energy Equity (%)']
env_sus = df['Environmental Sustainability (%)']
cat5 = pd.concat([Enery_sec, Energy_equity, env_sus], axis = 1)
cat5
cat5_Linear_model = LinearRegression()
cat5_Linear_model.fit(years, cat5)
cat5_predicted_Linear = cat5_Linear_model.predict(X_test)
cat5_predicted_Linear = pd.DataFrame(cat5_predicted_Linear)
cat5_predicted_Linear

            0           1           2
0   87.021112   97.385740   85.691457
1   90.241541  101.033430   88.832625
2   93.461970  104.681119   91.973793
3   96.682399  108.328809   95.114961
4   99.902828  111.976499   98.256129
5  103.123257  115.624188  101.397296
6  106.343686  119.271878  104.538464
7  109.564115  122.919568  107.679632
8  112.784544  126.567257  110.820800
9  116.004973  130.214947  113.961968

In [113]:
#Merging the 5 categories findings

facts = pd.concat([cat1_predicted_Linear, cat2_predicted_Linear, cat3_predicted_Linear,
                    cat4_predicted_Linear, cat5_predicted_Linear], axis = 1)
facts.

(10, 16)

In [81]:
new = pd.DataFrame(columns=[df.columns])
new

Empty DataFrame
Columns: [(Production (TJ),), (Consumption (TJ),), (Transportation (TJ),), (Industry  (TJ),), (Residential (TJ),), (Commercial (TJ),), (Population growth (%),), (Population density (%),), (GDP (billion USD),), (Installed capacity of renewable energies (MW),), (Reserves (TJ),), (Oil & products Imports (TJ),), (Population growth (%).1,), (GDP (Trillion USD),), (Oil prices ($/MW),), (Energy Security (%),), (Energy Equity (%),), (Environmental Sustainability (%),)]
Index: []

In [82]:
#new = new.drop(columns=['Production (TJ)', 'Consumption (TJ)'])
new.shape

(0, 18)

In [99]:
factors = pd.concat([new, facts], axis = 0)
factors.shape

**Output the Factors**

In [117]:
facts.to_csv('PredOilFactors.csv')
facts

,0,1,2,3,0,1,2,0,1,2,0,1,2,0,1,2
0,178869.033302,117854.278446,46255.226642,83752.960222,1.246681,46.813992,84.587487,2102.054810,6605.994255,497809.552798,1.246681,62.579260,103.830175,87.021112,97.385740,85.691457
1,183989.465772,119784.447271,46770.721554,85620.420907,1.216976,47.407727,87.093682,2158.570883,6663.927766,508964.314928,1.216976,64.430572,106.516201,90.241541,101.033430,88.832625
2,189109.898242,121714.616096,47286.216466,87487.881591,1.187271,48.001462,89.599876,2215.086957,6721.861277,520119.077058,1.187271,66.281883,109.202227,93.461970,104.681119,91.973793
3,194230.330712,123644.784921,47801.711378,89355.342276,1.157566,48.595197,92.106070,2271.603030,6779.794787,531273.839188,1.157566,68.133195,111.888253,96.682399,108.328809,95.114961
4,199350.763182,125574.953747,48317.206290,91222.802960,1.127861,49.188932,94.612265,2328.119103,6837.728298,542428.601318,1.127861,69.984507,114.574280,99.902828,111.976499,98.256129
5,204471.195652,127505.122572,48832.701203,93090.263645,1.098156,49.782667,97.118459,2384.635176,6895.661809,553583.363448,1.098156,71.835819,117.260306,103.123257,115.624188,101.397296
6,209591.628122,129435.291397,49348.196115,94957.724329,1.068451,50.376401,99.624654,2441.151249,6953.595319,564738.125578,1.068451,73.687131,119.946332,106.343686,119.271878,104.538464
7,214712.060592,131365.460222,49863.691027,96825.185014,1.038745,50.970136,102.130848,2497.667322,7011.528830,575892.887708,1.038745,75.538443,122.632358,109.564115,122.919568,107.679632
8,219832.493062,133295.629047,50379.185939,98692.645698,1.009040,51.563871,104.637042,2554.183395,7069.462340,587047.649838,1.009040,77.389755,125.318384,112.784544,126.567257,110.820800
9,224952.925532,135225.797872,50894.680851,100560.106383,0.979335,52.157606,107.143237,2610.699468,7127.395851,598202.411968,0.979335,79.241066,128.004410,116.004973,130.214947,113.961968