In [41]:
import pandas as pd
#from google.colab import drive

In [42]:
#drive.mount('/content/drive')

In [43]:
df = pd.read_csv('Gas Factors.csv', header=1)
df.head()

,Years,Production (TJ),Consumption (TJ),Transportation (TJ),Industry (TJ),Residential (TJ),Commercial (TJ),Degree of Urbanisation,Population growth,Population density (%),GDP(billion USD),Installed capacity % of renewable energies,Reserves (TJ),Imports,Population growth (%),GDP (Trillion USD),Natural gas prices ($/MBtu),Energy Security (%),Energy Equity (%),Environmental Sustainability (%)
0,1973,2400,2400,28400,42900,27200,23000,36.3,2.08,24.40,6.242,620,-1,-1,1.98,4.642,0.212150,-1.0,-1.0,-1.0
1,1974,2800,2800,28400,49800,28400,24300,37.0,2.12,25.47,7.675,620,-1,-1,1.93,5.350,0.289296,-1.0,-1.0,-1.0
2,1975,2500,2500,30500,46100,29800,26000,37.6,2.18,26.05,8.985,620,-1,-1,1.86,5.960,0.424301,-1.0,-1.0,-1.0
3,1976,2800,2800,31900,50400,31800,27700,38.3,2.24,26.65,9.584,620,-1,-1,1.80,6.479,0.559306,-1.0,-1.0,-1.0
4,1977,3000,3000,35700,56500,34100,30000,39.0,2.29,27.28,11.050,620,-1,-1,1.75,7.328,0.761813,-1.0,-1.0,-1.0

In [44]:
df.shape

(47, 20)

In [45]:
production = df['Production (TJ)']
consumption = df['Consumption (TJ)']
df1 = df.drop(columns=['Years', 'Production (TJ)', 'Consumption (TJ)'])
df1.tail()

,Transportation (TJ),Industry (TJ),Residential (TJ),Commercial (TJ),Degree of Urbanisation,Population growth,Population density (%),GDP(billion USD),Installed capacity % of renewable energies,Reserves (TJ),Imports,Population growth (%),GDP (Trillion USD),Natural gas prices ($/MBtu),Energy Security (%),Energy Equity (%),Environmental Sustainability (%)
42,224000,126000,51200,98400,60.8,1.37,50.28,101.2,2728,53550,39700,1.17,75.112,2.603667,110.11,122.69,101.16
43,233900,120800,51900,101800,61.3,1.33,50.93,103.3,2798,53550,40700,1.16,76.305,2.461839,109.87,121.99,100.13
44,241900,136500,53900,105100,61.9,1.29,51.57,109.7,2948,53550,40300,1.14,81.193,2.960584,113.51,121.42,102.35
45,248600,136200,54200,105500,62.4,1.25,52.20,118.1,3681,-1,35900,1.11,86.268,3.116446,113.15,130.98,102.23
46,260000,134700,55800,108800,62.9,1.22,-1.00,119.7,3681,-1,33500,1.07,87.568,2.511900,115.69,151.65,99.43

In [46]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor

In [47]:
#Data for the Consumption Prediction
X_train, X_test, y_train, y_test = train_test_split(df1, production, random_state=47, test_size=0.25)

**Decision Regressor**

In [48]:
tree_model_Production = DecisionTreeRegressor()
tree_model_Production.fit(X_train,y_train)

DecisionTreeRegressor()

In [49]:
predicted_decision_reg_Production = tree_model_Production.predict(X_test)
predicted_decision_reg_Production.shape

(12,)

In [50]:
predicted_decision_reg_Production

array([1400., 2100., 1800., 2100., 1400., 2700., 1500., 2900., 1400.,
       1800., 2900.,  600.])

In [51]:
from sklearn import metrics

tree_model_Production.score(X_test, y_test)

0.6634652324241259

**Linear Regression**

In [52]:
from pandas.core.common import random_state
Linear_model_Production = LinearRegression()
Linear_model_Production.fit(X_train, y_train)

LinearRegression()

In [53]:
predicted_Linear_Production = Linear_model_Production.predict(X_test)
predicted_Linear_Production.shape

(12,)

In [54]:
predicted_Linear_Production

array([1048.67552269, 2333.85161319, 1924.93010903, 2044.25863961,
        935.36804531, 2864.866588  , 1408.41940191, 2827.00717548,
       1750.48198329, 1353.99077519, 3066.11261008,  935.17246209])

In [55]:
from sklearn import metrics

Linear_model_Production.score(X_test, y_test)

0.8214420184816383

**Predicting the Next 10 years**

In [56]:
pred_facts = pd.read_csv('PredGasFactors.csv', index_col=0)
pred_facts

,0,1,2,3,0.1,1.1,2.1,3.1,0.2,1.2,2.2,0.3,1.3,2.3,0.4,1.4,2.4
0,178869.033302,117854.278446,46255.226642,83752.960222,58.536957,1.246681,44.263164,84.587487,2102.054810,52837.254163,21879.818686,1.214454,62.579260,4.151790,87.021112,97.385740,85.691457
1,183989.465772,119784.447271,46770.721554,85620.420907,59.096739,1.216976,44.714089,87.093682,2158.570883,52610.825509,22765.507863,1.195076,64.430572,4.241921,90.241541,101.033430,88.832625
2,189109.898242,121714.616096,47286.216466,87487.881591,59.656522,1.187271,45.165014,89.599876,2215.086957,52384.396855,23651.197040,1.175698,66.281883,4.332052,93.461970,104.681119,91.973793
3,194230.330712,123644.784921,47801.711378,89355.342276,60.216304,1.157566,45.615939,92.106070,2271.603030,52157.968201,24536.886216,1.156321,68.133195,4.422183,96.682399,108.328809,95.114961
4,199350.763182,125574.953747,48317.206290,91222.802960,60.776087,1.127861,46.066864,94.612265,2328.119103,51931.539547,25422.575393,1.136943,69.984507,4.512313,99.902828,111.976499,98.256129
5,204471.195652,127505.122572,48832.701203,93090.263645,61.335870,1.098156,46.517789,97.118459,2384.635176,51705.110893,26308.264570,1.117565,71.835819,4.602444,103.123257,115.624188,101.397296
6,209591.628122,129435.291397,49348.196115,94957.724329,61.895652,1.068451,46.968714,99.624654,2441.151249,51478.682239,27193.953747,1.098187,73.687131,4.692575,106.343686,119.271878,104.538464
7,214712.060592,131365.460222,49863.691027,96825.185014,62.455435,1.038745,47.419639,102.130848,2497.667322,51252.253585,28079.642923,1.078809,75.538443,4.782706,109.564115,122.919568,107.679632
8,219832.493062,133295.629047,50379.185939,98692.645698,63.015217,1.009040,47.870564,104.637042,2554.183395,51025.824931,28965.332100,1.059431,77.389755,4.872837,112.784544,126.567257,110.820800
9,224952.925532,135225.797872,50894.680851,100560.106383,63.575000,0.979335,48.321489,107.143237,2610.699468,50799.396277,29851.021277,1.040053,79.241066,4.962968,116.004973,130.214947,113.961968

In [57]:
pred_facts.shape

(10, 17)

In [58]:
## Decision Tree Regression
pred_tree = tree_model_Production.predict(pred_facts)
pred_tree

array([2100., 2100., 1800., 1800., 1800., 1800., 1800., 1800., 1800.,
       1800.])

In [59]:
## Linear Regression
pred_linear = Linear_model_Production.predict(pred_facts)
pred_linear

array([2099.0531664 , 2094.58867384, 2090.12418128, 2085.65968872,
       2081.19519615, 2076.73070359, 2072.26621103, 2067.80171847,
       2063.33722591, 2058.87273335])

# **Linear Regression - Outputting next 10 years**

In [62]:
#putting in dataframe
pred_linear = pd.DataFrame(pred_linear)
pred_linear.tail(2)

             0
8  2063.337226
9  2058.872733

In [65]:
#outputing to CSV
pred_linear.to_csv('GasProductionPredicted.csv')