In [108]:
'''import pandas as pd
from google.colab import drive
'''

'import pandas as pd\nfrom google.colab import drive\n'

In [109]:
'''drive.mount('/content/drive')'''

"drive.mount('/content/drive')"

In [110]:
'''path = "/content/drive/MyDrive/Colab Notebooks/Research Energy Consumption Production/Factors.csv"
df = pd.read_csv(path, header=1)
df
'''

'path = "/content/drive/MyDrive/Colab Notebooks/Research Energy Consumption Production/Factors.csv"\ndf = pd.read_csv(path, header=1)\ndf\n'

In [111]:
import numpy as np
import pandas as pd

In [112]:
df = pd.read_csv('Gas Factors.csv', header = 1)
df

,Years,Production (TJ),Consumption (TJ),Transportation (TJ),Industry (TJ),Residential (TJ),Commercial (TJ),Degree of Urbanisation,Population growth,Population density (%),GDP(billion USD),Installed capacity % of renewable energies,Reserves (TJ),Imports,Population growth (%),GDP (Trillion USD),Natural gas prices ($/MBtu),Energy Security (%),Energy Equity (%),Environmental Sustainability (%)
0,1973,2400,2400,28400,42900,27200,23000,36.3,2.08,24.40,6.242,620,-1,-1,1.98,4.642,0.212150,-1.00,-1.00,-1.00
1,1974,2800,2800,28400,49800,28400,24300,37.0,2.12,25.47,7.675,620,-1,-1,1.93,5.350,0.289296,-1.00,-1.00,-1.00
2,1975,2500,2500,30500,46100,29800,26000,37.6,2.18,26.05,8.985,620,-1,-1,1.86,5.960,0.424301,-1.00,-1.00,-1.00
3,1976,2800,2800,31900,50400,31800,27700,38.3,2.24,26.65,9.584,620,-1,-1,1.80,6.479,0.559306,-1.00,-1.00,-1.00
4,1977,3000,3000,35700,56500,34100,30000,39.0,2.29,27.28,11.050,620,-1,-1,1.75,7.328,0.761813,-1.00,-1.00,-1.00
5,1978,2900,2900,36500,60900,36400,31100,39.7,2.33,27.93,13.240,620,-1,-1,1.75,8.631,0.877531,-1.00,-1.00,-1.00
6,1979,2600,2600,40500,67500,38600,32700,40.4,2.37,28.61,15.910,620,-1,-1,1.76,10.025,1.137898,-1.00,-1.00,-1.00
7,1980,2300,2300,36400,71800,38700,33500,41.1,2.39,29.31,21.730,620,26250,-1,1.75,11.301,1.533269,-1.00,-1.00,-1.00
8,1981,3000,3000,35900,64700,39000,34000,41.9,2.42,30.03,17.790,620,111300,-1,1.76,11.692,1.909354,-1.00,-1.00,-1.00
9,1982,2800,2800,38700,64200,41500,35000,42.6,2.43,30.77,17.690,620,111300,-1,1.80,11.575,2.372228,-1.00,-1.00,-1.00
10,1983,2900,2900,37500,67400,43500,36000,43.4,2.41,31.49,16.250,620,148050,-1,1.78,11.803,2.497589,-1.00,-1.00,-1.00
11,1984,2900,2900,36100,67500,44700,36700,44.1,2.33,32.20,14.820,620,148050,-1,1.75,12.234,2.565092,-1.00,-1.00,-1.00
12,1985,3300,3300,36600,72600,46700,37900,44.9,2.23,32.89,14.990,620,148050,-1,1.75,12.867,2.420444,-1.00,-1.00,-1.00
13,1986,3200,3200,38800,68600,23100,38900,45.7,2.12,33.56,19.460,620,148050,-1,1.77,15.214,1.870781,-1.00,-1.00,-1.00
14,1987,2600,2600,40700,61400,23700,39600,46.4,2.01,34.21,21.770,620,136500,-1,1.78,17.317,1.610415,-1.00,-1.00,-1.00
15,1988,2700,2700,42700,74800,24200,33000,47.2,1.93,34.86,25.710,620,73500,-1,1.77,19.339,1.629701,-1.00,-1.00,-1.00
16,1989,2000,2000,48500,86700,24800,33900,47.9,1.87,35.51,26.310,620,105000,-1,1.74,20.136,1.696667,-1.00,-1.00,-1.00
17,1990,1800,1800,54400,82100,26600,37800,48.6,1.84,36.15,30.180,620,105000,-1,1.74,22.699,1.638333,-1.00,-1.00,-1.00
18,1991,1200,1200,60300,87000,27400,39400,49.4,1.81,36.80,32.290,620,55650,-1,1.67,23.680,1.486667,-1.00,-1.00,-1.00
19,1992,800,800,66900,92000,28300,42100,50.0,1.77,37.44,33.710,620,45150,-1,1.57,25.383,1.771667,-1.00,-1.00,-1.00
20,1993,700,700,72300,81100,29400,44700,50.7,1.71,38.05,31.660,620,38850,-1,1.56,25.820,2.120833,-1.00,-1.00,-1.00
21,1994,700,700,78000,89600,30100,46600,51.3,1.63,38.64,35.600,620,33600,-1,1.52,27.874,1.920000,-1.00,-1.00,-1.00
22,1995,500,500,82600,80100,30600,47700,51.7,1.53,39.19,39.030,620,55650,-1,1.51,31.043,1.686667,-1.00,-1.00,-1.00
23,1996,600,600,88100,88600,31300,48400,52.0,1.43,39.72,43.160,1221,42000,-1,1.45,31.736,2.756667,-1.00,-1.00,-1.00
24,1997,1100,1100,94100,88500,32000,49300,52.3,1.35,40.23,39.150,1221,42000,-1,1.43,31.620,2.525000,-1.00,-1.00,-1.00
25,1998,1200,1200,100000,90900,32900,51400,52.6,1.27,40.73,41.810,1221,52500,-1,1.39,31.540,2.084167,-1.00,-1.00,-1.00
26,1999,1400,1400,106700,92900,31900,51800,53.0,1.22,41.21,41.630,1221,52500,-1,1.35,32.734,2.265833,-1.00,-1.00,-1.00
27,2000,1600,1600,112300,93000,32400,52500,53.3,1.18,41.69,38.860,1221,51450,-1,1.32,33.816,4.225833,100.00,100.00,100.00
28,2001,1600,1600,118600,91300,34000,57500,53.7,1.15,42.16,39.460,1221,49350,-1,1.30,33.609,4.068333,93.57,100.18,101.72
29,2002,1500,1500,124200,89200,34600,58400,54.1,1.12,42.63,42.240,1221,49350,-1,1.28,34.884,3.330833,93.65,100.12,99.26
30,2003,1500,1500,129400,77400,35400,60500,54.6,1.11,43.10,52.060,1319,45150,-1,1.26,39.129,5.625000,91.97,95.48,98.43
31,2004,2100,2100,134000,90200,55500,82500,55.0,1.11,43.59,59.630,1552,45150,-1,1.25,44.096,5.849167,93.85,93.85,96.06
32,2005,1400,1400,139500,104300,53700,83000,55.5,1.12,44.09,62.340,1783,45150,14300,1.25,47.774,8.785833,97.00,96.52,95.64
33,2006,2100,2100,143700,113400,51700,81700,55.9,1.14,44.60,68.640,1783,63000,17700,1.24,51.769,6.764167,102.77,96.99,98.71
34,2007,2200,2200,152800,114600,49800,80900,56.4,1.16,45.14,79.040,1843,60900,20700,1.24,58.321,6.950000,97.18,97.88,98.37
35,2008,1800,1800,167400,114400,50200,82300,56.9,1.19,45.70,92.510,1843,57750,18000,1.24,64.014,8.849167,97.39,98.76,101.32
36,2009,1500,1500,177200,114900,47300,83500,57.5,1.24,46.29,92.900,1970,55650,20300,1.22,60.730,3.893333,94.22,98.99,100.22
37,2010,1900,1900,186400,122200,47000,84200,58.0,1.29,46.92,93.220,1991,55650,22000,1.20,66.488,4.388849,93.70,99.47,97.53
38,2011,2100,2100,197300,135500,48300,87800,58.5,1.35,47.58,101.040,2025,53550,28100,1.17,73.654,4.009033,97.85,112.28,100.52
39,2012,2800,2800,200300,140500,49800,91200,59.1,1.39,48.26,98.270,2025,53550,41900,1.18,75.312,2.755372,100.69,121.55,101.31
40,2013,3500,1900,208100,138700,50300,93700,59.7,1.42,48.94,106.800,2265,53550,33900,1.18,77.440,3.707290,93.29,121.33,97.54
41,2014,3500,3500,210800,128700,51100,95800,60.3,1.40,49.61,110.100,2567,53550,38600,1.18,79.558,4.347742,88.49,121.82,95.68
42,2015,2800,2800,224000,126000,51200,98400,60.8,1.37,50.28,101.200,2728,53550,39700,1.17,75.112,2.603667,110.11,122.69,101.16
43,2016,2600,2600,233900,120800,51900,101800,61.3,1.33,50.93,103.300,2798,53550,40700,1.16,76.305,2.461839,109.87,121.99,100.13
44,2017,2600,2600,241900,136500,53900,105100,61.9,1.29,51.57,109.700,2948,53550,40300,1.14,81.193,2.960584,113.51,121.42,102.35
45,2018,2800,2800,248600,136200,54200,105500,62.4,1.25,52.20,118.100,3681,-1,35900,1.11,86.268,3.116446,113.15,130.98,102.23
46,2019,3100,3100,260000,134700,55800,108800,62.9,1.22,-1.00,119.700,3681,-1,33500,1.07,87.568,2.511900,115.69,151.65,99.43

In [113]:
years = df['Years']
df = df.drop(columns = ['Years'])
df.columns

Index(['Production (TJ)', 'Consumption (TJ)', 'Transportation (TJ)',
       'Industry (TJ)', 'Residential (TJ)', 'Commercial (TJ)',
       'Degree of Urbanisation', 'Population growth', 'Population density (%)',
       'GDP(billion USD)', 'Installed capacity % of renewable energies',
       'Reserves (TJ)', 'Imports', 'Population growth (%)',
       'GDP (Trillion USD)', 'Natural gas prices ($/MBtu)',
       'Energy Security (%)', 'Energy Equity (%)',
       'Environmental Sustainability (%)'],
      dtype='object')

prev_Years = np.array(prev_Years).reshape(-1, 1)
prev_Years.shape

In [114]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor

In [115]:
years = np.array(years).reshape(-1, 1)

In [116]:
#Splitting Training and Testing Data
X_train = years[:-10]
X_test = years[-10:]
y_train = df[:-10]
y_test = df[-10:]
#X_train

**Linear Regression - All Factors**

In [117]:
Linear_model = LinearRegression()
Linear_model.fit(X_train, y_train)

LinearRegression()

In [118]:
predicted_Linear = Linear_model.predict(X_test)

In [119]:
predicted_Linear = pd.DataFrame(predicted_Linear)
predicted_Linear

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,1116.216216,1116.216216,152259.909910,111250.450450,42430.630631,76710.360360,59.292793,0.950766,47.620180,70.970878,1630.387387,66377.310811,9072.918919,1.173243,53.317793,5.936519,84.406126,85.799550,86.803198
1,1069.701280,1069.701280,156253.247985,112910.431484,42784.305358,78279.326695,59.884305,0.908587,48.222707,72.906606,1666.552869,66738.786629,9421.041252,1.152105,54.780943,6.102502,87.519109,88.961446,90.002328
2,1023.186344,1023.186344,160246.586060,114570.412518,43137.980085,79848.293030,60.475818,0.866408,48.825235,74.842334,1702.718350,67100.262447,9769.163585,1.130967,56.244092,6.268485,90.632091,92.123343,93.201458
3,976.671408,976.671408,164239.924135,116230.393551,43491.654813,81417.259365,61.067330,0.824229,49.427762,76.778061,1738.883831,67461.738265,10117.285917,1.109829,57.707242,6.434467,93.745073,95.285239,96.400588
4,930.156472,930.156472,168233.262210,117890.374585,43845.329540,82986.225699,61.658843,0.782051,50.030289,78.713789,1775.049312,67823.214083,10465.408250,1.088691,59.170392,6.600450,96.858056,98.447136,99.599718
5,883.641536,883.641536,172226.600284,119550.355619,44199.004267,84555.192034,62.250356,0.739872,50.632817,80.649516,1811.214794,68184.689900,10813.530583,1.067553,60.633542,6.766433,99.971038,101.609033,102.798848
6,837.126600,837.126600,176219.938359,121210.336652,44552.678995,86124.158369,62.841868,0.697693,51.235344,82.585244,1847.380275,68546.165718,11161.652916,1.046415,62.096692,6.932416,103.084021,104.770929,105.997978
7,790.611664,790.611664,180213.276434,122870.317686,44906.353722,87693.124704,63.433381,0.655514,51.837871,84.520972,1883.545756,68907.641536,11509.775249,1.025277,63.559842,7.098398,106.197003,107.932826,109.197108
8,744.096728,744.096728,184206.614509,124530.298720,45260.028450,89262.091038,64.024893,0.613336,52.440398,86.456699,1919.711238,69269.117354,11857.897582,1.004139,65.022991,7.264381,109.309986,111.094723,112.396238
9,697.581792,697.581792,188199.952584,126190.279753,45613.703177,90831.057373,64.616406,0.571157,53.042926,88.392427,1955.876719,69630.593172,12206.019915,0.983001,66.486141,7.430364,112.422968,114.256619,115.595367

In [120]:
df.columns

Index(['Production (TJ)', 'Consumption (TJ)', 'Transportation (TJ)',
       'Industry (TJ)', 'Residential (TJ)', 'Commercial (TJ)',
       'Degree of Urbanisation', 'Population growth', 'Population density (%)',
       'GDP(billion USD)', 'Installed capacity % of renewable energies',
       'Reserves (TJ)', 'Imports', 'Population growth (%)',
       'GDP (Trillion USD)', 'Natural gas prices ($/MBtu)',
       'Energy Security (%)', 'Energy Equity (%)',
       'Environmental Sustainability (%)'],
      dtype='object')

**Linear Regression - Predicting by Categories of Factors**

In [121]:
#creating a list of years to predict factors
pred_years = []
for i in range(2020, 2030):
    pred_years.append(i)

pred_years = np.array(pred_years).reshape(-1, 1)
pred_years

array([[2020],
       [2021],
       [2022],
       [2023],
       [2024],
       [2025],
       [2026],
       [2027],
       [2028],
       [2029]])

In [122]:
#Category 1
tr = df['Transportation (TJ)']
ind = df['Industry (TJ)']
res = df['Residential (TJ)']
com = df['Commercial (TJ)']
cat1 = pd.concat([tr, ind, res, com], axis = 1)
#cat1

cat1_Linear_model = LinearRegression()
cat1_Linear_model.fit(years, cat1)
cat1_predicted_Linear = cat1_Linear_model.predict(X_test)
cat1_predicted_Linear = pd.DataFrame(cat1_predicted_Linear)
cat1_predicted_Linear

               0              1             2              3
0  178869.033302  117854.278446  46255.226642   83752.960222
1  183989.465772  119784.447271  46770.721554   85620.420907
2  189109.898242  121714.616096  47286.216466   87487.881591
3  194230.330712  123644.784921  47801.711378   89355.342276
4  199350.763182  125574.953747  48317.206290   91222.802960
5  204471.195652  127505.122572  48832.701203   93090.263645
6  209591.628122  129435.291397  49348.196115   94957.724329
7  214712.060592  131365.460222  49863.691027   96825.185014
8  219832.493062  133295.629047  50379.185939   98692.645698
9  224952.925532  135225.797872  50894.680851  100560.106383

In [123]:
#Category 2
Degree_Urb = df['Degree of Urbanisation']
pop_growth= df['Population growth']
pop_density = df['Population density (%)']
gdp_billions = df['GDP(billion USD)']
cat2 = pd.concat([Degree_Urb, pop_growth, pop_density, gdp_billions], axis = 1)
#cat2

cat2_Linear_model = LinearRegression()
cat2_Linear_model.fit(years, cat2)
cat2_predicted_Linear = cat2_Linear_model.predict(X_test)
cat2_predicted_Linear = pd.DataFrame(cat2_predicted_Linear)
cat2_predicted_Linear

           0         1          2           3
0  58.536957  1.246681  44.263164   84.587487
1  59.096739  1.216976  44.714089   87.093682
2  59.656522  1.187271  45.165014   89.599876
3  60.216304  1.157566  45.615939   92.106070
4  60.776087  1.127861  46.066864   94.612265
5  61.335870  1.098156  46.517789   97.118459
6  61.895652  1.068451  46.968714   99.624654
7  62.455435  1.038745  47.419639  102.130848
8  63.015217  1.009040  47.870564  104.637042
9  63.575000  0.979335  48.321489  107.143237

In [124]:
#Category 3
installed_cap_re= df['Installed capacity % of renewable energies']
reserves = df['Reserves (TJ)']
gas_prod_import = df['Imports']
cat3 = pd.concat([installed_cap_re, reserves, gas_prod_import], axis = 1)
cat3
cat3_Linear_model = LinearRegression()
cat3_Linear_model.fit(years, cat3)
cat3_predicted_Linear = cat3_Linear_model.predict(X_test)
cat3_predicted_Linear = pd.DataFrame(cat3_predicted_Linear)
cat3_predicted_Linear

             0             1             2
0  2102.054810  52837.254163  21879.818686
1  2158.570883  52610.825509  22765.507863
2  2215.086957  52384.396855  23651.197040
3  2271.603030  52157.968201  24536.886216
4  2328.119103  51931.539547  25422.575393
5  2384.635176  51705.110893  26308.264570
6  2441.151249  51478.682239  27193.953747
7  2497.667322  51252.253585  28079.642923
8  2554.183395  51025.824931  28965.332100
9  2610.699468  50799.396277  29851.021277

In [125]:
#Category 4
#Population growth (%).1	GDP (Trillion USD)	Oil prices ($/MW)
pop_growth_world= df['Population growth (%)']
gdp_trillion = df['GDP (Trillion USD)']
gas_prices = df['Natural gas prices ($/MBtu)']
cat4 = pd.concat([pop_growth_world, gdp_trillion, gas_prices], axis = 1)
cat4
cat4_Linear_model = LinearRegression()
cat4_Linear_model.fit(years, cat4)
cat4_predicted_Linear = cat4_Linear_model.predict(X_test)
cat4_predicted_Linear = pd.DataFrame(cat4_predicted_Linear)
cat4_predicted_Linear

          0          1         2
0  1.214454  62.579260  4.151790
1  1.195076  64.430572  4.241921
2  1.175698  66.281883  4.332052
3  1.156321  68.133195  4.422183
4  1.136943  69.984507  4.512313
5  1.117565  71.835819  4.602444
6  1.098187  73.687131  4.692575
7  1.078809  75.538443  4.782706
8  1.059431  77.389755  4.872837
9  1.040053  79.241066  4.962968

In [126]:
#Category 5
#Energy Security (%)	Energy Equity (%)	Environmental Sustainability (%)
Enery_sec= df['Energy Security (%)']
Energy_equity = df['Energy Equity (%)']
env_sus = df['Environmental Sustainability (%)']
cat5 = pd.concat([Enery_sec, Energy_equity, env_sus], axis = 1)
cat5
cat5_Linear_model = LinearRegression()
cat5_Linear_model.fit(years, cat5)
cat5_predicted_Linear = cat5_Linear_model.predict(X_test)
cat5_predicted_Linear = pd.DataFrame(cat5_predicted_Linear)
cat5_predicted_Linear

            0           1           2
0   87.021112   97.385740   85.691457
1   90.241541  101.033430   88.832625
2   93.461970  104.681119   91.973793
3   96.682399  108.328809   95.114961
4   99.902828  111.976499   98.256129
5  103.123257  115.624188  101.397296
6  106.343686  119.271878  104.538464
7  109.564115  122.919568  107.679632
8  112.784544  126.567257  110.820800
9  116.004973  130.214947  113.961968

In [127]:
#Merging the 5 categories findings

facts = pd.concat([cat1_predicted_Linear, cat2_predicted_Linear, cat3_predicted_Linear,
                    cat4_predicted_Linear, cat5_predicted_Linear], axis = 1)
facts.shape

(10, 17)

In [128]:
new = pd.DataFrame(columns=[df.columns])
new

Empty DataFrame
Columns: [(Production (TJ),), (Consumption (TJ),), (Transportation (TJ),), (Industry (TJ),), (Residential (TJ),), (Commercial (TJ),), (Degree of Urbanisation,), (Population growth,), (Population density (%),), (GDP(billion USD),), (Installed capacity % of renewable energies,), (Reserves (TJ),), (Imports,), (Population growth (%),), (GDP (Trillion USD),), (Natural gas prices ($/MBtu),), (Energy Security (%),), (Energy Equity (%),), (Environmental Sustainability (%),)]
Index: []

In [129]:
#new = new.drop(columns=['Production (TJ)', 'Consumption (TJ)'])
new.shape

(0, 19)

In [130]:
#factors = pd.concat([new, facts], axis = 0)
#factors.shape

**Output the Factors**

In [131]:
facts.to_csv('PredGasFactors.csv')
facts

,0,1,2,3,0,1,2,3,0,1,2,0,1,2,0,1,2
0,178869.033302,117854.278446,46255.226642,83752.960222,58.536957,1.246681,44.263164,84.587487,2102.054810,52837.254163,21879.818686,1.214454,62.579260,4.151790,87.021112,97.385740,85.691457
1,183989.465772,119784.447271,46770.721554,85620.420907,59.096739,1.216976,44.714089,87.093682,2158.570883,52610.825509,22765.507863,1.195076,64.430572,4.241921,90.241541,101.033430,88.832625
2,189109.898242,121714.616096,47286.216466,87487.881591,59.656522,1.187271,45.165014,89.599876,2215.086957,52384.396855,23651.197040,1.175698,66.281883,4.332052,93.461970,104.681119,91.973793
3,194230.330712,123644.784921,47801.711378,89355.342276,60.216304,1.157566,45.615939,92.106070,2271.603030,52157.968201,24536.886216,1.156321,68.133195,4.422183,96.682399,108.328809,95.114961
4,199350.763182,125574.953747,48317.206290,91222.802960,60.776087,1.127861,46.066864,94.612265,2328.119103,51931.539547,25422.575393,1.136943,69.984507,4.512313,99.902828,111.976499,98.256129
5,204471.195652,127505.122572,48832.701203,93090.263645,61.335870,1.098156,46.517789,97.118459,2384.635176,51705.110893,26308.264570,1.117565,71.835819,4.602444,103.123257,115.624188,101.397296
6,209591.628122,129435.291397,49348.196115,94957.724329,61.895652,1.068451,46.968714,99.624654,2441.151249,51478.682239,27193.953747,1.098187,73.687131,4.692575,106.343686,119.271878,104.538464
7,214712.060592,131365.460222,49863.691027,96825.185014,62.455435,1.038745,47.419639,102.130848,2497.667322,51252.253585,28079.642923,1.078809,75.538443,4.782706,109.564115,122.919568,107.679632
8,219832.493062,133295.629047,50379.185939,98692.645698,63.015217,1.009040,47.870564,104.637042,2554.183395,51025.824931,28965.332100,1.059431,77.389755,4.872837,112.784544,126.567257,110.820800
9,224952.925532,135225.797872,50894.680851,100560.106383,63.575000,0.979335,48.321489,107.143237,2610.699468,50799.396277,29851.021277,1.040053,79.241066,4.962968,116.004973,130.214947,113.961968