In [23]:
import pandas as pd
#from google.colab import drive

In [24]:
#drive.mount('/content/drive')

In [25]:
df = pd.read_csv('Oil Factors.csv', header=1)
df.head()

,Years,Production (TJ),Consumption (TJ),Transportation (TJ),Industry (TJ),Residential (TJ),Commercial (TJ),Population growth (%),Population density (%),GDP (billion USD),Installed capacity of renewable energies (MW),Reserves (TJ),Oil & products Imports (TJ),Population growth (%).1,GDP (Trillion USD),Oil prices ($/MW),Energy Security (%),Energy Equity (%),Environmental Sustainability (%)
0,1973,1600,84300,28400,42900,27200,23000,2.08,24.40,6.242,620,612.0,102576.6,1.98,4.642,5.591059,-1.0,-1.0,-1.0
1,1974,1000,93800,28400,49800,28400,24300,2.12,24.92,7.675,620,612.0,126022.7,1.93,5.350,19.679170,-1.0,-1.0,-1.0
2,1975,800,96000,30500,46100,29800,26000,2.18,25.47,8.985,620,612.0,128116.1,1.86,5.960,19.594200,-1.0,-1.0,-1.0
3,1976,400,103000,31900,50400,31800,27700,2.24,26.05,9.584,620,612.0,136489.7,1.80,6.479,21.752450,-1.0,-1.0,-1.0
4,1977,900,116300,35700,56500,34100,30000,2.29,26.65,11.050,620,612.0,149468.8,1.75,7.328,23.655790,-1.0,-1.0,-1.0

In [26]:
df.shape

(47, 19)

In [27]:
production = df['Production (TJ)']
consumption = df['Consumption (TJ)']
df1 = df.drop(columns=['Years', 'Production (TJ)', 'Consumption (TJ)'])
df1.tail()

,Transportation (TJ),Industry (TJ),Residential (TJ),Commercial (TJ),Population growth (%),Population density (%),GDP (billion USD),Installed capacity of renewable energies (MW),Reserves (TJ),Oil & products Imports (TJ),Population growth (%).1,GDP (Trillion USD),Oil prices ($/MW),Energy Security (%),Energy Equity (%),Environmental Sustainability (%)
42,224000,126000,51200,98400,1.37,49.61,101.2,2728,4186.08,567311.4,1.17,75.112,89.02658,110.11,122.69,101.16
43,233900,120800,51900,101800,1.33,50.28,103.3,2798,4186.08,532142.3,1.16,76.305,74.32229,109.87,121.99,100.13
44,241900,136500,53900,105100,1.29,50.93,109.7,2948,-1.00,565636.7,1.14,81.193,92.09518,113.51,121.42,102.35
45,248600,136200,54200,105500,1.25,51.57,118.1,3681,-1.00,552238.9,1.11,86.268,121.18500,113.15,130.98,102.23
46,260000,134700,55800,108800,1.22,52.20,119.7,3681,-1.00,551401.6,1.07,87.568,109.12010,115.69,151.65,99.43

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor

In [29]:
#Data for the Consumption Prediction
X_train, X_test, y_train, y_test = train_test_split(df1, production, random_state=47, test_size=0.25)

**Decision Regressor**

In [30]:
tree_model_Production = DecisionTreeRegressor()
tree_model_Production.fit(X_train,y_train)

DecisionTreeRegressor()

In [31]:
predicted_decision_reg_Production = tree_model_Production.predict(X_test)
predicted_decision_reg_Production.shape

(12,)

In [32]:
predicted_decision_reg_Production

array([419., 377., 377., 335., 419., 800., 461., 600., 377., 628., 600.,
       209.])

In [33]:
from sklearn import metrics

tree_model_Production.score(X_test, y_test)

0.4208647812728803

**Linear Regression**

In [34]:
from pandas.core.common import random_state
Linear_model_Production = LinearRegression()
Linear_model_Production.fit(X_train, y_train)

LinearRegression()

In [35]:
predicted_Linear_Production = Linear_model_Production.predict(X_test)
predicted_Linear_Production.shape

(12,)

In [36]:
predicted_Linear_Production

array([352.88686815, 175.06525537, 318.54525612, 254.57785038,
       484.60840956, 532.50483304, 426.70389597, 667.64542291,
       304.21498319, 564.58317477, 653.73645586, 400.67563404])

In [37]:
from sklearn import metrics

Linear_model_Production.score(X_test, y_test)

0.20001559766300347

**Predicting the Next 10 years**

In [38]:
pred_facts = pd.read_csv('PredOilFactors.csv', index_col=0)
pred_facts

,0,1,2,3,0.1,1.1,2.1,0.2,1.2,2.2,0.3,1.3,2.3,0.4,1.4,2.4
0,178869.033302,117854.278446,46255.226642,83752.960222,1.246681,46.813992,84.587487,2102.054810,6605.994255,497809.552798,1.246681,62.579260,103.830175,87.021112,97.385740,85.691457
1,183989.465772,119784.447271,46770.721554,85620.420907,1.216976,47.407727,87.093682,2158.570883,6663.927766,508964.314928,1.216976,64.430572,106.516201,90.241541,101.033430,88.832625
2,189109.898242,121714.616096,47286.216466,87487.881591,1.187271,48.001462,89.599876,2215.086957,6721.861277,520119.077058,1.187271,66.281883,109.202227,93.461970,104.681119,91.973793
3,194230.330712,123644.784921,47801.711378,89355.342276,1.157566,48.595197,92.106070,2271.603030,6779.794787,531273.839188,1.157566,68.133195,111.888253,96.682399,108.328809,95.114961
4,199350.763182,125574.953747,48317.206290,91222.802960,1.127861,49.188932,94.612265,2328.119103,6837.728298,542428.601318,1.127861,69.984507,114.574280,99.902828,111.976499,98.256129
5,204471.195652,127505.122572,48832.701203,93090.263645,1.098156,49.782667,97.118459,2384.635176,6895.661809,553583.363448,1.098156,71.835819,117.260306,103.123257,115.624188,101.397296
6,209591.628122,129435.291397,49348.196115,94957.724329,1.068451,50.376401,99.624654,2441.151249,6953.595319,564738.125578,1.068451,73.687131,119.946332,106.343686,119.271878,104.538464
7,214712.060592,131365.460222,49863.691027,96825.185014,1.038745,50.970136,102.130848,2497.667322,7011.528830,575892.887708,1.038745,75.538443,122.632358,109.564115,122.919568,107.679632
8,219832.493062,133295.629047,50379.185939,98692.645698,1.009040,51.563871,104.637042,2554.183395,7069.462340,587047.649838,1.009040,77.389755,125.318384,112.784544,126.567257,110.820800
9,224952.925532,135225.797872,50894.680851,100560.106383,0.979335,52.157606,107.143237,2610.699468,7127.395851,598202.411968,0.979335,79.241066,128.004410,116.004973,130.214947,113.961968

In [39]:
pred_facts.shape

(10, 16)

In [40]:
## Decision Tree Regression
pred_tree = tree_model_Production.predict(pred_facts)
pred_tree

array([209., 209., 209., 209., 419., 419., 419., 209., 209., 194.])

In [41]:
## Linear Regression
pred_linear = Linear_model_Production.predict(pred_facts)
pred_linear

array([341.41161181, 305.69795372, 269.98429564, 234.27063755,
       198.55697946, 162.84332138, 127.12966329,  91.4160052 ,
        55.70234712,  19.98868903])

**Linear Regression - Outputting next 10 years**

In [42]:
#putting in dataframe
pred_linear = pd.DataFrame(pred_linear)
pred_linear.tail(2)

           0
8  55.702347
9  19.988689

In [43]:
#outputing to CSV
pred_linear.to_csv('oilProductionPredicted.csv')