In [62]:
'''import pandas as pd
from google.colab import drive
'''

'import pandas as pd\nfrom google.colab import drive\n'

In [63]:
'''drive.mount('/content/drive')'''

"drive.mount('/content/drive')"

In [64]:
'''path = "/content/drive/MyDrive/Colab Notebooks/Research Energy Consumption Production/Factors.csv"
df = pd.read_csv(path, header=1)
df
'''

'path = "/content/drive/MyDrive/Colab Notebooks/Research Energy Consumption Production/Factors.csv"\ndf = pd.read_csv(path, header=1)\ndf\n'

In [1]:
import numpy as np
import pandas as pd

In [116]:
df = pd.read_csv('Oil Factors.csv', header = 1)
df

,Years,Production (TJ),Consumption (TJ),Transportation (TJ),Industry (TJ),Residential (TJ),Commercial (TJ),Population growth (%),Population density (%),GDP (billion USD),Installed capacity of renewable energies (MW),Reserves (TJ),Oil & products Imports (TJ),Population growth (%).1,GDP (Trillion USD),Oil prices ($/MW),Energy Security (%),Energy Equity (%),Environmental Sustainability (%)
0,1973,1600,84300,28400,42900,27200,23000,2.08,24.40,6.242,620,612.00,102576.6,1.98,4.642,5.591059,-1.00,-1.00,-1.00
1,1974,1000,93800,28400,49800,28400,24300,2.12,24.92,7.675,620,612.00,126022.7,1.93,5.350,19.679170,-1.00,-1.00,-1.00
2,1975,800,96000,30500,46100,29800,26000,2.18,25.47,8.985,620,612.00,128116.1,1.86,5.960,19.594200,-1.00,-1.00,-1.00
3,1976,400,103000,31900,50400,31800,27700,2.24,26.05,9.584,620,612.00,136489.7,1.80,6.479,21.752450,-1.00,-1.00,-1.00
4,1977,900,116300,35700,56500,34100,30000,2.29,26.65,11.050,620,612.00,149468.8,1.75,7.328,23.655790,-1.00,-1.00,-1.00
5,1978,900,122500,36500,60900,36400,31100,2.33,27.28,13.240,620,612.00,154911.6,1.75,8.631,23.825730,-1.00,-1.00,-1.00
6,1979,700,134900,40500,67500,38600,32700,2.37,27.93,15.910,620,612.00,212270.8,1.76,10.025,53.718350,-1.00,-1.00,-1.00
7,1980,500,134200,36400,71800,38700,33500,2.39,28.61,21.730,620,612.00,177939.0,1.75,11.301,62.589270,-1.00,-1.00,-1.00
8,1981,700,124300,35900,64700,39000,34000,2.42,29.31,17.790,620,459.00,193430.2,1.76,11.692,61.059800,-1.00,-1.00,-1.00
9,1982,600,129100,38700,64200,41500,35000,2.43,30.03,17.690,620,1958.40,198035.6,1.80,11.575,56.029550,-1.00,-1.00,-1.00
10,1983,700,126000,37500,67400,43500,36000,2.41,30.77,16.250,620,1774.80,191755.4,1.78,11.803,50.217570,-1.00,-1.00,-1.00
11,1984,600,124100,36100,67500,44700,36700,2.33,31.49,14.820,620,1346.40,205571.9,1.75,12.234,48.909020,-1.00,-1.00,-1.00
12,1985,900,124600,36600,72600,46700,37900,2.23,32.20,14.990,620,1530.00,213108.1,1.75,12.867,46.835740,-1.00,-1.00,-1.00
13,1986,900,124300,38800,68600,23100,38900,2.12,32.89,19.460,620,1530.00,203897.2,1.77,15.214,24.522490,-1.00,-1.00,-1.00
14,1987,700,123700,40700,61400,23700,39600,2.01,33.56,21.770,620,1836.00,215201.5,1.78,17.317,31.328690,-1.00,-1.00,-1.00
15,1988,800,130700,42700,74800,24200,33000,1.93,34.21,25.710,620,16524.00,225668.5,1.77,19.339,25.361730,-1.00,-1.00,-1.00
16,1989,500,145100,48500,86700,24800,33900,1.87,34.86,26.310,620,15912.00,247021.2,1.74,20.136,30.973640,-1.00,-1.00,-1.00
17,1990,628,149962,54400,82100,26600,37800,1.84,35.51,30.180,620,15300.00,261256.3,1.74,22.699,40.319900,-1.00,-1.00,-1.00
18,1991,502,159356,60300,87000,27400,39400,1.81,36.15,32.290,620,12240.00,253301.4,1.67,23.680,33.989750,-1.00,-1.00,-1.00
19,1992,461,180224,66900,92000,28300,42100,1.77,36.80,33.710,620,13090.68,298937.5,1.57,25.383,32.834020,-1.00,-1.00,-1.00
20,1993,419,179870,72300,81100,29400,44700,1.71,37.44,31.660,620,9816.48,304799.0,1.56,25.820,28.841760,-1.00,-1.00,-1.00
21,1994,335,199245,78000,89600,30100,46600,1.63,38.05,35.600,620,9810.36,324058.3,1.52,27.874,26.880630,-1.00,-1.00,-1.00
22,1995,209,202242,82600,80100,30600,47700,1.53,38.64,39.030,620,10624.32,310241.9,1.51,31.043,28.918320,-1.00,-1.00,-1.00
23,1996,209,202789,88100,88600,31300,48400,1.43,39.19,43.160,1221,7282.80,281353.0,1.45,31.736,35.124240,-1.00,-1.00,-1.00
24,1997,502,216561,94100,88500,32000,49300,1.35,39.72,39.150,1221,7282.80,310660.6,1.43,31.620,32.446130,-1.00,-1.00,-1.00
25,1998,502,227229,100000,90900,32900,51400,1.27,40.23,41.810,1221,12031.92,314847.4,1.39,31.540,21.609120,-1.00,-1.00,-1.00
26,1999,461,239954,106700,92900,31900,51800,1.22,40.73,41.630,1221,12031.92,359646.1,1.35,32.734,30.538530,-1.00,-1.00,-1.00
27,2000,544,237801,112300,93000,32400,52500,1.18,41.21,38.860,1221,11652.48,357134.0,1.32,33.816,48.425450,100.00,100.00,100.00
28,2001,419,243601,118600,91300,34000,57500,1.15,41.69,39.460,1221,11016.00,384348.2,1.30,33.609,41.540190,93.57,100.18,101.72
29,2002,544,246881,124200,89200,34600,58400,1.12,42.16,42.240,1221,11016.00,350435.2,1.28,34.884,42.524770,93.65,100.12,99.26
30,2003,419,254052,129400,77400,35400,60500,1.11,42.63,52.060,1319,9792.00,347923.1,1.26,39.129,48.995190,91.97,95.48,98.43
31,2004,461,290764,134000,90200,55500,82500,1.11,43.10,59.630,1552,9792.00,412399.8,1.25,44.096,65.027920,93.85,93.85,96.06
32,2005,293,314003,139500,104300,53700,83000,1.12,43.59,62.340,1783,9792.00,441707.4,1.25,47.774,92.653680,97.00,96.52,95.64
33,2006,419,330572,143700,113400,51700,81700,1.14,44.09,68.640,1783,6542.28,439195.3,1.24,51.769,110.706500,102.77,96.99,98.71
34,2007,461,348884,152800,114600,49800,80900,1.16,44.60,79.040,1843,6046.56,477713.9,1.24,58.321,123.018700,97.18,97.88,98.37
35,2008,377,369240,167400,114400,50200,82300,1.19,45.14,92.510,1843,5116.32,471433.7,1.24,64.014,165.277800,97.39,98.76,101.32
36,2009,335,394489,177200,114900,47300,83500,1.24,45.70,92.900,1970,4602.24,507440.2,1.22,60.730,104.804800,94.22,98.99,100.22
37,2010,419,403544,186400,122200,47000,84200,1.29,46.29,93.220,1991,4602.24,556844.4,1.20,66.488,135.095500,93.70,99.47,97.53
38,2011,419,431037,197300,135500,48300,87800,1.35,46.92,101.040,2025,4186.08,490274.3,1.17,73.654,189.068900,97.85,112.28,100.52
39,2012,293,436841,200300,140500,49800,91200,1.39,47.58,98.270,2025,4186.08,666957.2,1.18,75.312,189.772600,100.69,121.55,101.31
40,2013,335,449595,208100,138700,50300,93700,1.42,48.26,106.800,2265,4186.08,656490.2,1.18,77.440,184.655400,93.29,121.33,97.54
41,2014,209,443122,210800,128700,51100,95800,1.40,48.94,110.100,2567,4186.08,627601.3,1.18,79.558,168.149800,88.49,121.82,95.68
42,2015,209,462740,224000,126000,51200,98400,1.37,49.61,101.200,2728,4186.08,567311.4,1.17,75.112,89.026580,110.11,122.69,101.16
43,2016,209,471364,233900,120800,51900,101800,1.33,50.28,103.300,2798,4186.08,532142.3,1.16,76.305,74.322290,109.87,121.99,100.13
44,2017,194,497157,241900,136500,53900,105100,1.29,50.93,109.700,2948,-1.00,565636.7,1.14,81.193,92.095180,113.51,121.42,102.35
45,2018,203,503973,248600,136200,54200,105500,1.25,51.57,118.100,3681,-1.00,552238.9,1.11,86.268,121.185000,113.15,130.98,102.23
46,2019,181,523677,260000,134700,55800,108800,1.22,52.20,119.700,3681,-1.00,551401.6,1.07,87.568,109.120100,115.69,151.65,99.43

In [86]:
years = df['Years']
df = df.drop(columns = ['Years'])
df.columns

Index(['Production (TJ)', 'Consumption (TJ)', 'Transportation (TJ)',
       'Industry  (TJ)', 'Residential (TJ)', 'Commercial (TJ)',
       'Population growth (%)', 'Population density (%)', 'GDP (billion USD)',
       'Installed capacity of renewable energies (MW)', 'Reserves (TJ)',
       'Oil & products Imports (TJ)', 'Population growth (%).1',
       'GDP (Trillion USD)', 'Oil prices ($/MW)', 'Energy Security (%)',
       'Energy Equity (%)', 'Environmental Sustainability (%)'],
      dtype='object')

prev_Years = np.array(prev_Years).reshape(-1, 1)
prev_Years.shape

In [68]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor

In [104]:
years = np.array(years).reshape(-1, 1)

In [106]:
#Splitting Training and Testing Data
X_train = years[:-10]
X_test = years[-10:]
y_train = df[:-10]
y_test = df[-10:]
#X_train

**Linear Regression - All Factors**

In [71]:
Linear_model = LinearRegression()
Linear_model.fit(X_train, y_train)

LinearRegression()

In [72]:
predicted_Linear = Linear_model.predict(X_test)

In [73]:
predicted_Linear = pd.DataFrame(predicted_Linear)
predicted_Linear

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,266.504505,328227.833333,152259.909910,111250.450450,42430.630631,76710.360360,0.950766,47.091351,70.970878,1630.387387,12009.948649,465089.360811,1.173243,53.317793,82.760091,84.406126,85.799550,86.803198
1,249.663348,335510.636795,156253.247985,112910.431484,42784.305358,78279.326695,0.908587,47.696444,72.906606,1666.552869,12296.893656,474930.028165,1.152105,54.780943,84.612156,87.519109,88.961446,90.002328
2,232.822191,342793.440256,160246.586060,114570.412518,43137.980085,79848.293030,0.866408,48.301536,74.842334,1702.718350,12583.838663,484770.695519,1.130967,56.244092,86.464221,90.632091,92.123343,93.201458
3,215.981034,350076.243717,164239.924135,116230.393551,43491.654813,81417.259365,0.824229,48.906629,76.778061,1738.883831,12870.783670,494611.362873,1.109829,57.707242,88.316286,93.745073,95.285239,96.400588
4,199.139877,357359.047179,168233.262210,117890.374585,43845.329540,82986.225699,0.782051,49.511721,78.713789,1775.049312,13157.728677,504452.030228,1.088691,59.170392,90.168351,96.858056,98.447136,99.599718
5,182.298720,364641.850640,172226.600284,119550.355619,44199.004267,84555.192034,0.739872,50.116814,80.649516,1811.214794,13444.673684,514292.697582,1.067553,60.633542,92.020416,99.971038,101.609033,102.798848
6,165.457563,371924.654101,176219.938359,121210.336652,44552.678995,86124.158369,0.697693,50.721906,82.585244,1847.380275,13731.618691,524133.364936,1.046415,62.096692,93.872481,103.084021,104.770929,105.997978
7,148.616406,379207.457563,180213.276434,122870.317686,44906.353722,87693.124704,0.655514,51.326999,84.520972,1883.545756,14018.563698,533974.032290,1.025277,63.559842,95.724547,106.197003,107.932826,109.197108
8,131.775249,386490.261024,184206.614509,124530.298720,45260.028450,89262.091038,0.613336,51.932091,86.456699,1919.711238,14305.508706,543814.699644,1.004139,65.022991,97.576612,109.309986,111.094723,112.396238
9,114.934092,393773.064486,188199.952584,126190.279753,45613.703177,90831.057373,0.571157,52.537183,88.392427,1955.876719,14592.453713,553655.366999,0.983001,66.486141,99.428677,112.422968,114.256619,115.595367

In [87]:
df.columns

Index(['Production (TJ)', 'Consumption (TJ)', 'Transportation (TJ)',
       'Industry  (TJ)', 'Residential (TJ)', 'Commercial (TJ)',
       'Population growth (%)', 'Population density (%)', 'GDP (billion USD)',
       'Installed capacity of renewable energies (MW)', 'Reserves (TJ)',
       'Oil & products Imports (TJ)', 'Population growth (%).1',
       'GDP (Trillion USD)', 'Oil prices ($/MW)', 'Energy Security (%)',
       'Energy Equity (%)', 'Environmental Sustainability (%)'],
      dtype='object')

**Linear Regression - Predicting by Categories of Factors**

In [96]:
#creating a list of years to predict factors
pred_years = []
for i in range(2020, 2030):
    pred_years.append(i)

pred_years = np.array(pred_years).reshape(-1, 1)
pred_years

array([[2020],
       [2021],
       [2022],
       [2023],
       [2024],
       [2025],
       [2026],
       [2027],
       [2028],
       [2029]])

In [108]:
#Category 1
tr = df['Transportation (TJ)']
ind = df['Industry  (TJ)']
res = df['Residential (TJ)']
com = df['Commercial (TJ)']
cat1 = pd.concat([tr, ind, res, com], axis = 1)
#cat1

cat1_Linear_model = LinearRegression()
cat1_Linear_model.fit(years, cat1)
cat1_predicted_Linear = cat1_Linear_model.predict(X_test)
cat1_predicted_Linear = pd.DataFrame(cat1_predicted_Linear)
cat1_predicted_Linear

               0              1             2              3
0  178869.033302  117854.278446  46255.226642   83752.960222
1  183989.465772  119784.447271  46770.721554   85620.420907
2  189109.898242  121714.616096  47286.216466   87487.881591
3  194230.330712  123644.784921  47801.711378   89355.342276
4  199350.763182  125574.953747  48317.206290   91222.802960
5  204471.195652  127505.122572  48832.701203   93090.263645
6  209591.628122  129435.291397  49348.196115   94957.724329
7  214712.060592  131365.460222  49863.691027   96825.185014
8  219832.493062  133295.629047  50379.185939   98692.645698
9  224952.925532  135225.797872  50894.680851  100560.106383

In [109]:
#Category 2
pop_growth= df['Population growth (%)']
pop_density = df['Population density (%)']
gdp_billions = df['GDP (billion USD)']
cat2 = pd.concat([pop_growth, pop_density, gdp_billions], axis = 1)
#cat2

cat2_Linear_model = LinearRegression()
cat2_Linear_model.fit(years, cat2)
cat2_predicted_Linear = cat2_Linear_model.predict(X_test)
cat2_predicted_Linear = pd.DataFrame(cat2_predicted_Linear)
cat2_predicted_Linear

          0          1           2
0  1.246681  46.813992   84.587487
1  1.216976  47.407727   87.093682
2  1.187271  48.001462   89.599876
3  1.157566  48.595197   92.106070
4  1.127861  49.188932   94.612265
5  1.098156  49.782667   97.118459
6  1.068451  50.376401   99.624654
7  1.038745  50.970136  102.130848
8  1.009040  51.563871  104.637042
9  0.979335  52.157606  107.143237

In [110]:
#Category 3
installed_cap_re= df['Installed capacity of renewable energies (MW)']
reserves = df['Reserves (TJ)']
oil_prod_import = df['Oil & products Imports (TJ)']
cat3 = pd.concat([installed_cap_re, reserves, oil_prod_import], axis = 1)
cat3
cat3_Linear_model = LinearRegression()
cat3_Linear_model.fit(years, cat3)
cat3_predicted_Linear = cat3_Linear_model.predict(X_test)
cat3_predicted_Linear = pd.DataFrame(cat3_predicted_Linear)
cat3_predicted_Linear

             0            1              2
0  2102.054810  6605.994255  497809.552798
1  2158.570883  6663.927766  508964.314928
2  2215.086957  6721.861277  520119.077058
3  2271.603030  6779.794787  531273.839188
4  2328.119103  6837.728298  542428.601318
5  2384.635176  6895.661809  553583.363448
6  2441.151249  6953.595319  564738.125578
7  2497.667322  7011.528830  575892.887708
8  2554.183395  7069.462340  587047.649838
9  2610.699468  7127.395851  598202.411968

In [111]:
#Category 4
#Population growth (%).1	GDP (Trillion USD)	Oil prices ($/MW)
pop_growth_world= df['Population growth (%)']
gdp_trillion = df['GDP (Trillion USD)']
oil_prices = df['Oil prices ($/MW)']
cat4 = pd.concat([pop_growth_world, gdp_trillion, oil_prices], axis = 1)
cat4
cat4_Linear_model = LinearRegression()
cat4_Linear_model.fit(years, cat4)
cat4_predicted_Linear = cat4_Linear_model.predict(X_test)
cat4_predicted_Linear = pd.DataFrame(cat4_predicted_Linear)
cat4_predicted_Linear

          0          1           2
0  1.246681  62.579260  103.830175
1  1.216976  64.430572  106.516201
2  1.187271  66.281883  109.202227
3  1.157566  68.133195  111.888253
4  1.127861  69.984507  114.574280
5  1.098156  71.835819  117.260306
6  1.068451  73.687131  119.946332
7  1.038745  75.538443  122.632358
8  1.009040  77.389755  125.318384
9  0.979335  79.241066  128.004410

In [112]:
#Category 5
#Energy Security (%)	Energy Equity (%)	Environmental Sustainability (%)
Enery_sec= df['Energy Security (%)']
Energy_equity = df['Energy Equity (%)']
env_sus = df['Environmental Sustainability (%)']
cat5 = pd.concat([Enery_sec, Energy_equity, env_sus], axis = 1)
cat5
cat5_Linear_model = LinearRegression()
cat5_Linear_model.fit(years, cat5)
cat5_predicted_Linear = cat5_Linear_model.predict(X_test)
cat5_predicted_Linear = pd.DataFrame(cat5_predicted_Linear)
cat5_predicted_Linear

            0           1           2
0   87.021112   97.385740   85.691457
1   90.241541  101.033430   88.832625
2   93.461970  104.681119   91.973793
3   96.682399  108.328809   95.114961
4   99.902828  111.976499   98.256129
5  103.123257  115.624188  101.397296
6  106.343686  119.271878  104.538464
7  109.564115  122.919568  107.679632
8  112.784544  126.567257  110.820800
9  116.004973  130.214947  113.961968

In [113]:
#Merging the 5 categories findings

facts = pd.concat([cat1_predicted_Linear, cat2_predicted_Linear, cat3_predicted_Linear,
                    cat4_predicted_Linear, cat5_predicted_Linear], axis = 1)
facts.

(10, 16)

In [81]:
new = pd.DataFrame(columns=[df.columns])
new

Empty DataFrame
Columns: [(Production (TJ),), (Consumption (TJ),), (Transportation (TJ),), (Industry  (TJ),), (Residential (TJ),), (Commercial (TJ),), (Population growth (%),), (Population density (%),), (GDP (billion USD),), (Installed capacity of renewable energies (MW),), (Reserves (TJ),), (Oil & products Imports (TJ),), (Population growth (%).1,), (GDP (Trillion USD),), (Oil prices ($/MW),), (Energy Security (%),), (Energy Equity (%),), (Environmental Sustainability (%),)]
Index: []

In [82]:
#new = new.drop(columns=['Production (TJ)', 'Consumption (TJ)'])
new.shape

(0, 18)

In [99]:
factors = pd.concat([new, facts], axis = 0)
factors.shape

**Output the Factors**

In [117]:
facts.to_csv('PredOilFactors.csv')
facts

,0,1,2,3,0,1,2,0,1,2,0,1,2,0,1,2
0,178869.033302,117854.278446,46255.226642,83752.960222,1.246681,46.813992,84.587487,2102.054810,6605.994255,497809.552798,1.246681,62.579260,103.830175,87.021112,97.385740,85.691457
1,183989.465772,119784.447271,46770.721554,85620.420907,1.216976,47.407727,87.093682,2158.570883,6663.927766,508964.314928,1.216976,64.430572,106.516201,90.241541,101.033430,88.832625
2,189109.898242,121714.616096,47286.216466,87487.881591,1.187271,48.001462,89.599876,2215.086957,6721.861277,520119.077058,1.187271,66.281883,109.202227,93.461970,104.681119,91.973793
3,194230.330712,123644.784921,47801.711378,89355.342276,1.157566,48.595197,92.106070,2271.603030,6779.794787,531273.839188,1.157566,68.133195,111.888253,96.682399,108.328809,95.114961
4,199350.763182,125574.953747,48317.206290,91222.802960,1.127861,49.188932,94.612265,2328.119103,6837.728298,542428.601318,1.127861,69.984507,114.574280,99.902828,111.976499,98.256129
5,204471.195652,127505.122572,48832.701203,93090.263645,1.098156,49.782667,97.118459,2384.635176,6895.661809,553583.363448,1.098156,71.835819,117.260306,103.123257,115.624188,101.397296
6,209591.628122,129435.291397,49348.196115,94957.724329,1.068451,50.376401,99.624654,2441.151249,6953.595319,564738.125578,1.068451,73.687131,119.946332,106.343686,119.271878,104.538464
7,214712.060592,131365.460222,49863.691027,96825.185014,1.038745,50.970136,102.130848,2497.667322,7011.528830,575892.887708,1.038745,75.538443,122.632358,109.564115,122.919568,107.679632
8,219832.493062,133295.629047,50379.185939,98692.645698,1.009040,51.563871,104.637042,2554.183395,7069.462340,587047.649838,1.009040,77.389755,125.318384,112.784544,126.567257,110.820800
9,224952.925532,135225.797872,50894.680851,100560.106383,0.979335,52.157606,107.143237,2610.699468,7127.395851,598202.411968,0.979335,79.241066,128.004410,116.004973,130.214947,113.961968

In [5]:
fact = pd.read_csv('Gas Factors.csv', header = 1)
fact.columns

Index(['Years', 'Production (TJ)', 'Consumption (TJ)', 'Transportation (TJ)',
       'Industry (TJ)', 'Residential (TJ)', 'Commercial (TJ)',
       'Degree of Urbanisation', 'Population growth', 'Population density (%)',
       'GDP(billion USD)', 'Installed capacity % of renewable energies',
       'Reserves (TJ)', 'Imports', 'Population growth (%)',
       'GDP (Trillion USD)', 'Natural gas prices ($/MBtu)',
       'Energy Security (%)', 'Energy Equity (%)',
       'Environmental Sustainability (%)'],
      dtype='object')